.vertical-navbar {
    background-color: #333;
    width: 250px; /* Adjust width as needed */
    height: 100%; /* Adjust height as needed */
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto; /* Enable vertical scrolling if needed */
    z-index: 1000; /* Ensure navbar is above other content */
}
.vertical-navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.vertical-navbar li {
    border-bottom: 1px solid #555; /* Add borders between list items */
}

.vertical-navbar li a {
    display: block;
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
}

.vertical-navbar li a:hover {
    background-color: #555;
}

.vertical-navbar {

    .Logocontainer{

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #555;
        h1.title{
            font-size: 31px;
            color: orange;
            padding: 10px 0 0 0;
        }
        img.Logo{
            width:auto;
            height: 4rem;
            padding: 10px 0 10px 0;
        }

    }
    .Profilecontainer{
        align-items: center;
        justify-content: center;
        display: flex;
        padding:10px 5px 0 5px;
        color: white;
        background-color: slategrey;
    img.UserProfile{
        width:auto;
        height: 2rem;
        padding: 0 5px 5px 0;
    }
    h3.Username{
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: white;
        padding: 20px 5px 5px 5px;
    }

}

}

.vertical-navbar{

    .Breakline1{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        border: #333;
        border-width: 5px;
        font-size:15px;
        color: white;
        padding: 10px 0 0 0;
    }
    .Breakline2{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        border: #333;
        border-width: 5px;
        font-size:15px;
        color: white;
        padding: 10px 0 0 0;

    }
}

.vertical-navbar{

    li{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        width:100%;
        border-radius: 1px;

        img{
            padding: 0 10px 0 10px;
            width: auto;
            height: 2rem;
        }

    }
   
}