.results-list{

    width:25%;
    background-color: white;
    box-shadow: 0 0 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll;
    transform: translateZ(200px);
    left: 900px;
  
 

}