
body{
margin: 0;
padding: 0;
background-position: center;
background-repeat: no-repeat;
background-size: 2100px 1500px;
background-image: linear-gradient(to bottom right, #eef3c3, #e2f9f6);
height: auto;

}
body ::-webkit-scrollbar{

    width: 0.25rem;
}
body ::-webkit-scrollbar-track {

background: #1e1e24;

}

body ::-webkit-scrollbar-thumb{

    background-color: #222258;
}
